//font-size
$fs-9: 0.563rem;
$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-18: 1.125rem;
$fs-28: 1.75rem;

// font-weight
$fw-normal: 500;

// color
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$purple: hsl(278, 94%, 30%); 
$light-grey: hsla(278, 3%, 87%, 1);
$purplish-grey:hsla(278, 6%, 55%, 1);
$very-dark-violet: hsl(278, 68%, 11%);
