.App {
  height: 100vh;
  font-weight: $fw-normal;
  color: $white;
  font-size: 18px;
  display: flex;
  position: relative;

  .background-container {
    background: url(../images/bg-main-desktop.png) no-repeat center center/cover;
    height: 100%;
    width: 33%;

    .cards {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 164px;

      .card-front {
        padding-bottom: 37px;
      }
    }
  }
  .form-container {
    padding-right: 227px;
    padding-left: 349px;
  }
}
