form {
  color: $very-dark-violet;
  @include flex-fd-c;
  height: 100%;
  justify-content: center;
  .label-input {
    @include flex-fd-c;
  }
  label {
    text-transform: uppercase;
    letter-spacing: 2px;
    @include fs-lh($fs-12, 1.25);
  }
  input {
    cursor: pointer;
    padding: 11px 16px;
    border: 2px solid $light-grey;
    border-radius: 8px;
    color: $very-dark-violet;
    @include fs-lh($fs-18, 1.28);
    &:focus {
      border: 1px solid $purple;
      border-radius: 8px;
      outline: none;
    }
    &.month {
      width: 80px;
    }
    &.year {
      margin-left: 10px;
      margin-right: 20px;
      width: 80px;
      @media (max-width: 451px) {
        margin-left: 8px;
        margin-right: 11px;
      }
    }
    &.cvc {
      width: 136px;
      margin-top: 9px;
      @media (max-width: 451px) {
        @include flex-fd-c;
        justify-content: flex-end;
        width: 99px;
      }
    }
  }

  .error {
    color: $red;
    font-size: $fs-12;
    padding-top: 8px;
  }

  .error-border {
    border: 1px solid $red;
  }

  .date-cvc {
    padding-bottom: 40px;
    @media (max-width: 1024px) {
      padding-bottom: 28px;
    }
  }

  .cvc-wrap {
    @include flex-fd-c;
  }
}

button {
  font-family: inherit;
  padding: 15px;
  color: $white;
  @include fs-lh($fs-18, 1.28);
  background-color: $very-dark-violet;
  border: none;
  border-radius: 8px;
}

.success {
  @include flex-fd-c;
  align-items: center;
  .heading {
    text-transform: uppercase;
    @include fs-lh($fs-28, 1.28);
    letter-spacing: 3.42px;
    color: $very-dark-violet;
    padding-top: 35px;
  }
  .paragraph {
    @include fs-lh($fs-18, 1.28);
    color: $purplish-grey;
    padding-top: 16px;
    padding-bottom: 48px;
  }
}
