@import "variables";
@import 'mixins';
@import "App";
@import "Form";
@import 'Cards';

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&family=Space+Mono&display=swap");

// main
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", "Space Mono", monospace, sans-serif;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

//spacing
.mt-xxs {
  margin-top: 9px;
}
.mb-middle {
  margin-bottom: 26px;
}

.flex {
  display: flex;
}

// width for form and succes button
.width {
  width: 327px;
  @media(max-width: 450px) {
   max-width: 100%;
  }
}
