@mixin flex-fd-c {
  display: flex;
  flex-direction: column;
}

@mixin position-top-left($top, $left) {
  position: absolute;
  top: $top;
  left: $left; 
}

@mixin position-top-right($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin fs-lh($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin padding-left-right {
  padding-left: 12px;
  padding-right: 12px;
}